body {
    padding-top: 5rem;
}

.form-login {
    max-width: 330px;
    padding: 15px;
}

.form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.photogrid {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.image-item {
    height: 250px;
    width: 300px;
    padding: 15px;
    margin: 15px;
}
.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image-item:hover img {
    filter: brightness(70%);
    transition: filter 0.3s ease;
}